.gradle/2.4/taskArtifacts/cache.properties
.gradle/2.4/taskArtifacts/cache.properties.lock
.gradle/2.4/taskArtifacts/fileHashes.bin
.gradle/2.4/taskArtifacts/fileSnapshots.bin
.gradle/2.4/taskArtifacts/outputFileStates.bin
.gradle/2.4/taskArtifacts/taskArtifacts.bin
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
build/intermediates/gradle_project_sync_data.bin
learning-android-lesson-1.iml
local.properties